table{
  border-collapse: collapse;
  background-color: #DDD;
  border: 8px solid #888;
}

td{
  padding:0;
}

.container{
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #AAA;
  vertical-align: middle;
}

.piece{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.piece.white{
  background-color: #FFF;
  box-shadow: 2px 2px 0 #666;
  color: #222;
}

.piece.black{
  background-color: #333;
  box-shadow: 2px 2px 0 #222;
  color: #CCC;
}