body{
  background-color: #333;
}

h1{
  font-family: arial;
  color: #444;
  letter-spacing: -.1em;
  position: relative;
  top: 0;
  font-size: 6em;
  text-transform: lowercase;
  margin: 0;
  position: relative;
  display: block;
  width: 420px;
  margin-left: -210px;
  left: 50%;
  text-shadow: 1px 1px 1px #666, -1px -1px 2px #222 ;
  
  /* Chrome, Safari, Opera */
  -webkit-animation: mountTitle 1s;
  -webkit-animation-timing-function: ease;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mountTitle{
  from {opacity: 0; top: -40px;}
  to {opacity: 1; top: 0;}
}

table{
  position: relative;
  margin: 1em auto;
  border-collapse: collapse;
  background-color: #DDD;
  border: 8px solid #888;

  /* Chrome, Safari, Opera */
  -webkit-animation: mountBoard 1s; 
  -webkit-animation-timing-function: ease;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mountBoard{
  from {opacity: 0; bottom: -40px;}
  to {opacity: 1; bottom: 0;}
}

td{
  padding:0;
}

.container{
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #AAA;
  vertical-align: middle;
}

.piece{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 37px;
  font-size: 20px;
}

.piece.white{
  background-color: #FFF;
  box-shadow: 2px 2px 0 #666;
  color: #222;
}

.piece.black{
  background-color: #333;
  box-shadow: 2px 2px 0 #222;
  color: #CCC;
}

.piece[king='true']{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  
}

.piece.white[king='true']{box-shadow: 2px -2px 0 #666;}
.piece.black[king='true']{box-shadow: 2px -2px 0 #222;}